---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import OfferBanner from "../components/OfferBanner.astro";
import Approach from "../components/Approach.astro";
import Services from "../components/Services.astro";
import Compare from "../components/Compare.astro";
import Testimonials from "../components/Testimonials.astro";
import IntroOffers from "../components/IntroOffers.astro";
import Gallery from "../components/Gallery.astro";
import Locations from "../components/Locations.astro";
import Footer from "../components/Footer.astro";
---
<Base>
  <Header />
  <main>
    <Hero />
    <OfferBanner />
    <Approach />
    <Services />
    <Compare />
    <Testimonials />
    <IntroOffers />
    <Gallery />
    <Locations />
  </main>
  <Footer />
</Base>
